{% extends "base.html" %}

{% block title %}Confirm Deletion{% endblock title %}

{% block content %}
    <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete the cheese "{{ cheese.name }}"?</p>
    <form method="post" action="{% url 'cheeses:delete' cheese.slug %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" style="background-color: red; color: white;">Delete</button>
        <a href="{% url 'cheeses:list' %}">
            <button type="button" class="btn btn-primary" style="background-color: Green; color: white;">Cancel</button>
        </a>
    </form>
{% endblock content %}
